
{% extends 'miniblog/base.html' %}
{% load static %}

{% block content %}
<div class="container w-75" >
    <h3 class="text-white ml-5 my-5" >Home Page</h3>
         <table class="table table-bordered text-light">
        <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Blog Title</th>
                    <th>Author Name</th>
                    <th>DOP</th>
                    <th>Description</th>
                  </tr>
         </thead>
             {% for i in posts %}
	              <tr>
		                <td>{{i.id}}</td>
		                <td><a href="{% url 'detail' i.id %}">{{i.title}}</a</td>
		                <td>{{i.author}}</td>
		                <td>{{i.dop}}</td>
                    <td>{{i.desc}}</td>
	                </tr>
	           {% endfor %}
        </table>
  
  </div>
</div>



{% endblock content %}