{% extends 'miniblog/base.html' %}
{% load static %}
{% block Title %} <title>Login</title>{% endblock %}

{% block content %}
<div class="container w-50">
        <h3 class="text-white ml-5 my-5" >Login Page</h3>
        <form method = "POST" action = "" novalidate>{% csrf_token %}
             {% for i in form %}
                <div class="form-group">
                    {{i.label_tag}} {{i}} <small class="text-warning">{{i.errors|striptags}}</small>
                </div>
            {% endfor %}
            <input type="submit" value="Login" class="btn btn-primary">
            {% if form.non_fields_errors %}
                {% for error in form.non_fields_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>




{% endblock content %}

